<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osacky.peek"
    android:versionCode="9"
    android:versionName="1.0.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:name=".PeekApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PeekActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatePeekActivity"
            android:parentActivityName="com.osacky.peek.PeekActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.osacky.peek.PeekActivity">
            </meta-data>
        </activity>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PeekBroadcastReceiver">
            <intent-filter>
                <action android:name="com.osacky.peek.create" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PeekReceivedReceiver">
            <intent-filter>
                <action android:name="com.osacky.peek.received" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SystemMessageBroadcastReceiver">
            <intent-filter>
                <action android:name="com.osacky.peek.message" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
